body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    0deg,
    rgb(114, 172, 238) 20%,
    rgb(231, 117, 40) 80%
  );
  height: 100vh;
}
h1 {
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.square {
  width: 60px;
  height: 60px;
  border: none;
  background-color: #787c7e;
  outline: none;
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.result {
  text-align: center;
  font-size: 24px;
}
.button {
  width: 170px;
  height: 60px;
  border-radius: 16px;
  border: none;
  background-color: #6aaa64;
  font-size: 32px;
  color: #fff;
}
.button:hover {
  border: 3px solid #6aaa64;
  background-color: #fff;
  color: #6aaa64;
  cursor: pointer;
}
.gray {
  background-color: #787c7e;
}
.gold {
  background-color: #c9b458;
}

.green {
  background-color: #6aaa64;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

.copyright {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
iconify-icon {
  margin-left: 20px;
}
@media screen and (max-width: 420px) {
  .square {
    width: 2.3rem;
    height: 2.3rem;
    font-size: 35px;
  }
  .row {
    gap: 4px;
  }
  .copyright {
    flex-direction: column;
  }
}
